
h1 {
    font-size: 2em;
}

.data-table {
    border: 1px solid black;
    padding: 5px;
}

.data-table th {
    border: 1px solid black;
    padding: 5px;
}
.data-table td {
    border: 1px solid black;
    padding: 5px;
}

table.data-table thead tr th {
    background-color: lightgreen;
}